%h1= "New staff"
= form_tag admin_staffs_path, :method => :post do |f|  
  
  = label :login, "Login"
  %br
  = text_field :staff,:login
  %br
  = label :name, "Name"
  %br
  = text_field :staff,:name
  %br
  = label :password, 'Password'
  %br
  = password_field  :staff, :password
  %br 
  = label :password_confirmation, 'repeat' 
  %br
  = password_field :staff, :password_confirmation
  %br
  = submit_tag "Create"
 

= link_to 'Back', admin_staffs_path 
