%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    %style= File.read(Rails.root.join('app/assets/stylesheets/mailer.css'))
    #mailer
      %pre= "Dear, #{@ticket.name}, your query has activity."
      %li= "Unique reference of your ticket is #{@ticket.reference}."
      %li= "Link to it is #{@link}."
      %li= "#{@message}." 
