%head
  %title Support  
  = stylesheet_link_tag    "application", :media => "all" 
  = javascript_include_tag "application"  
  = csrf_meta_tags 

%body
  - if flash[:notice]
    #information
      = flash[:notice]
      
  = yield
.link_main
  - if session[:staff_id]
    = link_to "=>>> tickets", staff_root_path
  - elsif session[:admin_id]
    = link_to "=>> admin", admin_root_path if session[:admin_id]
  - else  
    = link_to "=>>> new ticket", root_path
  %br

  - if session[:staff_id] or session[:admin_id]
    = link_to "=>>> logout",logout_url, :method => :delete  
  - else
    = link_to "=>>> login", log_path, :method => :get    

